html,
body {
  overflow-x: hidden;
}

html {
  background-color: var(--light-navy);
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
  --green-tint: rgba(100, 255, 218, 0.1);
  --pink: #f57dff;
  --blue: #57cbff;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

body {
  animation: transistionIn 1.5s;
}

@keyframes transistionIn {
  from {
    opacity: 0;
    transform: translateY(-100px);
    filter: grayscale(100%);
  }

  to {
    opacity: 100;
    transform: translateY(0px);
    filter: grayscale(0%);
  }
}


.App {
  padding: 0 40px;
}

.navbar {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}



.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: large;
  margin-top: 5px;
  color: var(--green);
  gap: 25px;
  margin: auto;
  max-width: 750px;
  min-height: 70vh;
  box-sizing: inherit;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.logo {
  color: var(--green);
  transition: .5s ease;
}

.links section {
  display: inline-flex;
  margin-right: 3px;
  color: var(--green);
}

.links a {
  text-decoration: none;
  color: var(--light-slate);
  transition: .5s ease;
}

.intro {
  font-size: 25px;
}

.name {
  color: var(--lightest-slate);
  font-size: 65px;
  transition: .25s ease;
}

.info {
  color: var(--light-slate);
  font-size: 55px;
}

.description p {
  color: var(--light-slate);
  padding: 0;
  margin: 0;
  max-width: 550px;
}

.navbar button {
  color: var(--green);
  padding: 10px 15px;
  border-radius: 10%;
  background-color: var(--navy);
  border: 1px solid var(--green);
  transition: .5s ease;
}

#aboutMe,
#projects,
#work,
#contactMe {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 750px;
  margin: auto;
  margin-top: 300px;
}

.about section,
.projects section,
.work-experiences section,
.contact section {
  color: var(--green);
}

.about,
.projects,
.work-experiences,
.contact {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  color: var(--light-slate);
  font-size: 45px;
}

.aboutMe {
  color: var(--green);
}

.aboutMe.skills {
  display: flex;
  gap: 20px;
  padding: 5px;
}

.aboutMe.skills img {
  width: 85px;
  height: auto;
  transition: .5s ease;
}



.aboutMe.container {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.aboutMe.text {
  max-width: 750px;
}

.aboutMe.intro,
.aboutMe.exp,
.projects-container {
  color: var(--lightest-slate);
  font-size: 18px;
  line-height: 1.6;
}

.aboutMe.pic {
  margin: auto;
}


.projects-intro {
  color: var(--lightest-slate);
  max-width: 750px;
  font-size: 20px;
  line-height: 1.6;
}

.projects-container {
  max-width: 750px;
  margin-top: 20px;
  list-style: none;
}

.projects-container section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.projects-container section img {
  width: 45px;
  height: auto;
  margin-right: 80px;
  padding: 4px;
  border: 0px;
  transition: .5s ease;
}



.projects-container a {
  font-size: 38px;
  font-weight: bold;
  color: var(--lightest-slate);
  text-decoration: underline;
  transition: .5s ease;
}

.projects-container ul {
  margin: 0px;
  padding-inline: 0px;
}

.projects-container p {
  color: var(--lightest-slate);
  font-size: 20px;
  line-height: 1.2;
}

.sorting,
.fec,
.recastly,
.csgo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;
}

.sortingSS,
.fecSS,
.recastlySS,
.csgoSS,
.photo {
  object-fit: cover;
  width: 215px;
  height: 215px;
  transition: .5s ease;
}



.photo {
  object-fit: cover;
  object-position: 0% 0%;
}

.fecSS {
  object-fit: cover;
  object-position: 28%;
}

.logo {
  width: 75px;
}


.icon {
  display: none;
}

@media only screen and (max-width: 650px) {
  body {
    text-align: center;
  }

  img {
    margin: auto;
  }

  .main {
    align-items: center;
  }

  .aboutMe.skills {
    flex-wrap: wrap;
    justify-content: center;
  }

  #aboutMe,
  #projects,
  #work,
  #contactMe {
    margin: 10px;
    display: block;
  }

  .about,
  .projects,
  .work-experiences,
  .contact {
    font-size: 30px;
    margin: auto;
  }

  .sorting,
  .fec,
  .recastly,
  .csgo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }

  .icon {
    text-decoration: none;
  }

  .projects-container section {
    display: flex;
    gap: 15px;
    flex-direction: column;
    margin: auto;
  }

  .projects-container section img {
    margin: 0px;
  }

  .projects-container a {
    font-size: 35px;
    color: var(--green);
  }

  .projects-container a:hover {
    font-size: 35px;
  }

}

@media screen and (max-width: 650px) {
  .navbar {
    justify-content: space-between;
    align-items: center;
  }

  .navbar button {
    display: none;
  }

  .navbar a {
    display: none;
  }

  .navbar a.icon {
    float: right;
    display: flex;
    color: var(--green);
    font-size: 40px;
  }

  .logo {
    margin: 0px;
  }
  .projects-container section img {
    -webkit-filter: drop-shadow(1.5px 1.5px 0 var(--green)) drop-shadow(-1.5px -1.5px 0 var(--green));
    filter: drop-shadow(1.5px 1.5px 0 var(--green)) drop-shadow(-1.5px -1.5px 0 var(--green));
  }
}

@media screen and (max-width: 650px) {
  .navbar.responsive {
    position: relative;
    display: flex;
  }

  .links.responsive {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-navy);
    padding: 20px;
    position: absolute;
    right: -38px;
    top: 75px;
    gap: 35px;
    transition: .5s ease;
    border: 1px solid var(--green);
    width: 75px;
  }

  .links.responsive a {
    display: flex;
  }
}

@media only screen and (min-width: 650px) {

  .navbar a:hover,
  .navbar button:hover,
  .logo:hover {
    transition: .5s ease-in;
    font-size: 25px;
  }

  button:hover,
  a:hover,
  img:hover {
    cursor: pointer;
  }

  .JS:hover img,
  .CSS:hover img,
  .HTML:hover img,
  .reactImg:hover img,
  .SQL:hover img,
  .Mongo:hover img,
  .AWS:hover img {
    cursor: pointer;
    transition: ease .5s;
    width: 120px;
    height: auto;
  }

  .projects-container section img:hover {
    transition: .5s ease;
    transform: scale(1.5);
    -webkit-filter: drop-shadow(1.5px 1.5px 0 var(--green)) drop-shadow(-1.5px -1.5px 0 var(--green));
    filter: drop-shadow(1.5px 1.5px 0 var(--green)) drop-shadow(-1.5px -1.5px 0 var(--green));
  }

  .projects-container a:hover {
    font-size: 45px;
    font-weight: bold;
    color: var(--green);
    text-decoration: underline;
    transition: .25s ease;
  }

  .sortingSS:hover,
  .fecSS:hover,
  .recastlySS:hover,
  .csgoSS:hover,
  .photo:hover {
    cursor: pointer;
    float: right;
    transform: scale(1.25);
    transition: .5s ease-in;
  }

  .logo:hover {
    cursor: pointer;
    transform: scale(1.5);

  }

  .name:hover {
    cursor: pointer;
    transform: scale(2);
    transform-origin: 0%;
    transition: .5s ease;
    color: var(--green);
  }


}

@media screen and (max-width: 800px) {
  .aboutMe.skills {
    flex-wrap: wrap;
  }
}