html {
  background-color: var(--navy);
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
  --green-tint: rgba(100, 255, 218, 0.1);
  --pink: #f57dff;
  --blue: #57cbff;
}
.App {
  padding: 0 40px;

}

.navbar {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}

/* .navbar div:hover {
  transition: .1s ease-in;
  font-size: 25px;
} */

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: large;
  margin-top: 5px;
  color: var(--green);
  gap: 25px;
  margin: auto;
  max-width: 750px;
  min-height: 70vh;
  box-sizing: inherit;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.logo {
  color: var(--green);
}

.links section {
  display: inline-flex;
  margin-right: 3px;
  color: var(--green);
}

.links a {
  text-decoration: none;
  color: var(--light-slate);
}

.intro {
  font-size: 25px;
}

.name {
  color: var(--lightest-slate);
  font-size: 65px;
}

.info {
  color: var(--light-slate);
  font-size: 55px;
}

.description p{
  color: var(--light-slate);
  padding: 0;
  margin: 0;
  max-width: 550px;
}

.navbar button {
  color: var(--green);
  padding: 10px 15px;
  border-radius: 10%;
  background-color: var(--navy);
  border: 1px solid var(--green);
}

button:hover,
a:hover {
  cursor: pointer;
}

#aboutMe,
#projects,
#work,
#contactMe {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 750px;
  margin: auto;
  margin-top: 200px;
}

.about section,
.projects section,
.work-experiences section,
.contact section {
  color: var(--green);
}

.about,
.projects,
.work-experiences,
.contact {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  color: var(--light-slate);
}

.aboutMe {
  color: var(--green);
}

.aboutMe.intro,
.aboutMe.exp {
  color: var(--lightest-slate);
  max-width: 500px;
  font-size: 18px;
  line-height: 1.6;
}